[submodule "3rd-party/openpmix"]
	path = 3rd-party/openpmix
	url = https://github.com/openpmix/openpmix.git
[submodule "3rd-party/prrte"]
	path = 3rd-party/prrte
	url = https://github.com/openpmix/prrte.git
[submodule "config/oac"]
	path = config/oac
	url = https://github.com/open-mpi/oac.git
